body {
    .test {
        display: block;
        height: 200px;
        background-color: #f00;
        font-size: 16px;
    }

    h1 {
        margin: 20px;
        padding: 40px;
        color: #f00;
        font-size: 24px;

        &:hover {
            background-color: #00f;
        }
    }

    .thing {
        display: inline-block;
    }
}
